.banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.padding {
  width: 39px;
  height: 39px;
}

